<div class="col-md-12">
  <div class="group">
    <% if current_user && current_user == @team.user %>
    <%= link_to("Edit", edit_team_path(@team), class: "btn btn-primary pull-right")%>
    <% end %>
    <%= link_to("New Project", new_team_project_path(@team), class: "btn btn-default pull-right")%>
  </div>


  <h2><%= @team.title %></h2>
  <p><%= @team.description %></p>

    <table class="table">
      <thead>
       <tr>
          <th>项目名称</th>
          <th>创建者</th>
          <th>创建时间</th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.title %></td>
            <td><%= project.user.email %></td>
            <td><%= project.created_at %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

</div>
