<div class="col-md-12">

  <h2 class="text-center">  动态 </h2>

  <table class="table">
    <thead>
      <tr>
        <th>  </th>
        <th> 事件创建者 </th>
        <th> 状态 </th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td> <%= event.updated_at %> </td>
          <td> <%= event.user.email %> </td>
          <td>
            <% case event.aasm_state %>
              <% when "created" %>
                <span class="label label-default">创建了任务：<%= event.title %></span>

              <% when "deleted" %>
                <span class="label label-default">删除了任务：<%= event.title %></span>
              <% when "finished" %>
                <span class="label label-default">完成了任务：<%= event.title %></span>
              <% when "assigned" %>
                <span class="label label-default">指派了</span>
              <% when "updated" %>
                <span class="label label-default">修改了任务</span>
              <% when "commented" %>
                <span class="label label-default">回复了任务:</span>
                <br>
                <span><%= event.comment_content %></span>
             <% end %>

           </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
