<div class="col-md-12">
  <div class="group">
    <span class="pull-right">
        <label class="label label-success"> 成员：<%= @num %> </label>
        <%= link_to("设置", edit_team_project_path(@team, @project), class: "btn btn-primary pull-right")%>
    </span>
  </div>


  <h2><%= @project.title %></h2>

   <hr>
  <table class="table">
    <thead>
      <div><%= link_to("添加任务", new_team_project_todo_path(@team, @project), class: "btn btn-default")%></div>
      <br>
     <tr>
        <th>任务名称</th>
        <th>创建者</th>
        <th>创建时间</th>
        <th>完成者</th>
        <th colspan="2">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @todos.each do |todo| %>
        <tr>
          <td><%= link_to(todo.title, team_project_todo_path(@team, @project,todo)) %></td>
          <td><%= todo.user.email %></td>
          <td><%= todo.created_at %></td>
          <td><%= todo.finisher %></td>
          <td> <%= link_to('Finish', team_project_todo_finish_path(@team, @project, todo), class: "btn btn-default btn-xs") %></td>
          <td> <%= link_to('Edit', edit_team_project_todo_path(@team, @project, todo), class: "btn btn-default btn-xs") %></td>
          <td> <%= link_to('Delete', team_project_todo_path(@team, @project, todo), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>
