<div class="col-md-12">
  <div class="group">
    <% if current_user && current_user == @project.user %>
    <%= link_to("Edit", edit_team_project_todo_path(@team, @project,@todo), class: "btn btn-primary pull-right")%>
    <% end %>
    <%= link_to("New Comment", new_team_project_todo_comment_path(@team, @project, @todo), class: "btn btn-default pull-right")%>
  </div>

  <h2><%= @todo.title %></h2>

  <table class="table">
    <thead>
     <tr>
        <th>评论内容</th>
        <th>评论者</th>
        <th>创建时间</th>
        <th colspan="2">操作</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.content %></td>
          <td><%= comment.user.email %></td>
          <td><%= comment.created_at %></td>
          <td> <%= link_to('Edit', edit_team_project_todo_comment_path(@team, @project, @todo, comment), class: "btn btn-default btn-xs") %></td>
          <td> <%= link_to('Delete', team_project_todo_comment_path(@team, @project, @todo, comment), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default btn-xs") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


</div>
